<div class="user-details">
  <h1>My Expertise</h1>
  <p>Software Engineering, Business & Design</p>
</div>
<div class="user">
  <div class="tech">
    <h2>Frontend</h2>
    <img
      src="https://cdn4.iconfinder.com/data/icons/logos-3/600/React.js_logo-512.png"
      width="80px"
      alt="React"
    />
    <img
      src="https://cdn.worldvectorlogo.com/logos/typescript.svg"
      width="80px"
      alt="Typescript"
    />
    <img
      src="https://sass-lang.com/assets/img/styleguide/seal-color-aef0354c.png"
      width="80px"
      alt="sass"
    />
    <p>
      I have worked a little with frontend and started multiple personal
      projects, mainly using React, Typescript and SCSS.
    </p>
  </div>
  <div class="tech">
    <h2>Mobile & Backend</h2>
    <img
      src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/74/Kotlin-logo.svg/440px-Kotlin-logo.svg.png"
      width="80px"
      alt="kotlin"
    />
    <img
      src="https://upload.wikimedia.org/wikipedia/en/thumb/3/30/Java_programming_language_logo.svg/283px-Java_programming_language_logo.svg.png"
      height="80px"
      alt="java"
    />
    <img
      src="https://miro.medium.com/max/1400/1*O68LbDvD5Dcsnez73M7v4Q.png"
      width="80px"
      alt="spring boot"
    />
    <p>
      My main development technologies are Kotlin and Android, as well as Java
      and Spring Boot.
    </p>
  </div>
  <div class="tech">
    <h2>Business and Design</h2>
    <img
      src="https://upload.wikimedia.org/wikipedia/en/thumb/3/31/University_of_Oslo_seal.svg/1200px-University_of_Oslo_seal.svg.png"
      width="80px"
      alt="University of Oslo"
    />
    <img
      src="https://public-media.interaction-design.org/images/website-thumbnail-image.png"
      width="80px"
      alt="Interaction design foundation"
    />
    <p>
      I am a student at the University of Oslo, studying a combination of
      CompSci & Business and Management. I am interested in design, and
      completing courses from Interaction Design Foundation.
    </p>
  </div>
</div>
